.custom-product-card__main {
  position: relative;
}

.custom-product-card__main .card__media {
  aspect-ratio: 433 / 444;
  position: static;
}

.custom-product-card__main .card__media .media {
  width: 100%;
  height: 100%;
}

.custom-quick-add-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -1;
  width: 31.1rem;
  height: 44.7rem;
  padding: 3.6rem 2rem 2.5rem 2rem;
}

.custom-quick-add-modal.is-open {
  opacity: 1;
  z-index: 100;
  background-color: var(--color-light);
}
.custom-quick-add-modal__close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.27rem 1.27rem 0 0;
  cursor: pointer;
}

.custom-product-card__cta {
  background-color: var(--color-light-gray);
  position: absolute;
  z-index: 10;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.custom-product-card__cta {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.custom-product-card__cta.black-leather-bag {
  left: 60%;
  top: 55%;
}

.custom-product-card__cta.blue-silk-tuxedo {
  left: 82%;
  top: 50%;
}

.custom-product-card__cta.chequered-red-shirt {
  left: 60%;
  top: 20%;
}

.custom-product-card__cta.classic-leather-jacket {
  left: 69%;
  top: 15%;
}

.custom-product-card__cta.classic-varsity-top {
  left: 49%;
  top: 25%;
}

.custom-product-card__cta.dark-denim-top {
  left: 75%;
  top: 37%;
}

.custom-quick-add-modal__info-container {
  display: flex;
  gap: 0.8rem;
}

.custom-quick-add-modal__image-container {
  aspect-ratio: 120 / 140;
  /* height: 14rem; */
}

.custom-quick-add-modal__image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-quick-add-modal__title {
  margin-top: 1.3rem;
  margin-bottom: 2.2rem;
}

.custom-quick-add-modal__price {
  margin-bottom: 1.3rem;
}

.custom-quick-add-modal__variants-container {
  display: flex;
  flex-direction: column;
  gap: 1.15rem;
  margin-top: 1rem;
  margin-bottom: 5.1rem;
}

.custom-quick-add-modal__select-dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.custom-quick-add-modal__select-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-quick-add-modal__option-select {
  width: 27.1rem;
}

.custom-quick-add-modal__select-options {
  position: absolute;
  top: 100%;
  opacity: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.6rem;
  width: 100%;
  background-color: var(--color-light);
  border: 1px solid var(--color-dark);
  transition: all 0.3s ease;
}

.custom-quick-add-modal__select-options.is-open {
  opacity: 1;
  z-index: 100;
}

.custom-quick-add-modal__option-title {
  margin-bottom: 0.6rem;
}

.custom-quick-add-modal__select-options label,
.custom-quick-add-modal__option-values label {
  position: relative;
  width: 100%;
}

.custom-quick-add-modal__select-options label .custom-quick-add-modal__option-value,
.custom-quick-add-modal__option-values .custom-quick-add-modal__option-value {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.custom-quick-add-modal__option-color-code {
  position: absolute;
  width: 0.58rem;
  height: 100%;
  top: 0;
  left: 0;
  border-left: 0.05rem solid var(--color-dark);
  border-right: 0.05rem solid var(--color-dark);
}
.custom-quick-add-modal__devider {
  position: absolute;
  right: 0;
  width: 0.05rem;
  height: 3.7rem;
  margin-right: 4rem;
  background-color: var(--color-dark);
  transition: all 0.5s ease;
}

.custom-quick-add-modal__select-container svg {
  transition: all 0.5s ease;
}

.custom-quick-add-modal__product-form {
  width: calc(100% - 4rem);
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-bottom: 2.5rem;
  transform: translateX(-50%);
}

.btn.custom-quick-add-modal__submit {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.8rem;
  padding: 1.16rem 2.1rem 1.16rem 7.4rem;
}

.btn.custom-quick-add-modal__submit:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
.btn.custom-quick-add-modal__submit.loading {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn.custom-quick-add-modal__submit svg path{
  fill: var(--color-light);
}

@keyframes rotateForward {
  100% {transform: rotate(180deg);}
}

@keyframes rotateBackward {
  0% {transform: rotate(180deg);}
  100% {transform: rotate(0deg);}
}

@media screen and (max-width: 768px) {
  .custom-product-list__item .card__media {
    aspect-ratio: 169 / 186;
  }
  .custom-product-card__cta {
    width: 1.57rem;
    height: 1.57rem;
  }
  .custom-product-card__cta.fixed--mobile {
    left: 65%;
    top: 13%;
  }
  .custom-product-card__cta svg {
    width: 0.6rem;
    height: 0.6rem;
  }
}

@media screen and (min-width: 3840px) {
  .custom-product-card__cta {
    width: 4.6rem;
    height: 4.6rem;
  }
  .custom-product-card__cta svg {
    width: 1.8rem;
    height: 1.8rem;
  }
}
