.custom-product-list__main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 9rem 5.1rem;
}
.custom-product-list__header {
  margin-bottom: 3rem;
}
.custom-product-list__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.custom-product-list__item {
  list-style: none;
}

.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--gradient-overlay);
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.custom-modal-overlay.is-open {
  opacity: 1;
  z-index: 99;
}

@media screen and (max-width: 768px) {
  .custom-product-list__main {
    padding: 4rem 1.6rem;
  }
  .custom-product-list__header {
    margin-bottom: 2rem;
    text-align: center;
  }
  .custom-product-list__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.4rem;
  }
}
